/* 변수 선언 */
:root {
  --bg-theme: var(--bg-yellow);
  --bg-yellow: rgb(252,244,172);
  --bg-orange: #f8875a;
}
/* 변수 선언 */

/* 텍스트 셀렉트 박스 */
::selection {
  background-color: var(--bg-theme);
}
/* 텍스트 셀렉트 박스 */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* 라이브러리 */
.btn {
  cursor: pointer;
}

.font-1 {
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.bg-theme {
  background-color: var(--bg-theme);
}
/* 라이브러리 */

/* 테마색 메뉴 버튼 */
#btn-color {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  right: 0;
  top: 10%;
  width: 40px;
  height: 40px;
  border-top: 2px solid rgba(37, 37, 50, 0.78);
  border-left: 2px solid rgba(37, 37, 50, 0.78);
  border-bottom: 2px solid rgba(37, 37, 50, 0.78);
  border-radius:10px 0 0 10px;
  transition: transform .7s ease;
}
/* 테마색 메뉴 버튼 */

/* 테마색 팔레트 */
#color-pallete {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: gray;
  right: 0;
  top: 10%;
  width: 50px;
  height: 250px;
  background-color:rgba(37, 37, 50, 0.78);
  transform: translateX(50px);
  transition: transform .7s ease;
}
/* 테마색 팔레트 */

/* 테마색 팔레트 색상 */
.colorbox {
  width: 30px;
  height: 30px;
}

#colorbox-yellow {
  background-color: var(--bg-yellow);
}

#colorbox-orange {
  background-color: var(--bg-orange);
}
/* 테마색 팔레트 색상 */

/* 키보드 커서 깜빡임 애니메이션 */
@keyframes cursorEffect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

#cursor::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 20px;
  background-color: black;
  animation: cursorEffect 0.7s infinite;
}
/* 키보드 커서 깜빡임 애니메이션 */

/* 스크롤 탑 버튼 */
#scrollTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid gray;
}

#scrollTopPoint {
  position: absolute;
  top: 110vh;
  width: 1px;
  height: 100px;
}
/* 스크롤 탑 버튼 */

/* section-1 */
#section-1 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 > div {
  min-height: 80vh;
  width: 80%;
}

#section-1 > div > div {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
}

#txt-nameKor {
  font-size: 3rem;
}

#txt-nameEng {
  font-size: 1.5rem;
  color: gray;
}
/* section-1 */

/* section-2 */
#section-2 {
  width: 500px;
  height: 500px;
  margin-top: 500px;
  margin-bottom: 500px;
}
/* section-2 */

