/* 변수 선언 */
:root {
  --bg-theme: var(--bg-red);
  --bg-red: #ff3d4f;
  --bg-orange: #f7971c;
  --bg-brown: #c79864;
  --bg-green: #6b9839;
  --bg-blue: #4d74e6;
  --bg-purple: #8a2be2;
  --bg-yellow: #f1df44;
  --bg-rose: #e350b8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-theme);
  transition: all .7s;
}

::-webkit-scrollbar {
  background: #1d1e20;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::selection {
  background: var(--bg-theme);
}
/* 변수 선언 */

/* 텍스트 셀렉트 박스 */
::selection {
  background-color: var(--bg-theme);
}
/* 텍스트 셀렉트 박스 */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Saira', sans-serif;
}

main {
  background-image: url('images/bg-paterns.png');
  background-repeat: repeat;
  background-color: #1d1e20;
}

a {
  text-decoration: none;
  color: initial;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 라이브러리 */
.font-reverse {
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.font-sa {
  font-family: 'Saira', sans-serif;
}

.font-nu {
  font-family: 'Nunito', sans-serif;
}

.bg-theme {
  background-color: var(--bg-theme);
}

.color-theme {
  color: var(--bg-theme);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.con-min-width {
  min-width: 320px;
  margin: 0 60px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.font-bold {
  font-weight: 700;
}

.color-white {
  color: white;
}

.color-gray {
  color: #9da1a5;
}

.hidden {
  overflow: hidden;
  height: 0;
}

/* 라이브러리 */

/* 헤더 */
header {
  width: 100%;
  font-family: 'Saira', sans-serif;
  z-index: 50;
}

header .container {
  padding: 14px 0;
}

header .container > div {
  justify-content: space-between;
}

header .container a {
  text-align: center;
}

header .container a > div > span.color-theme {
  transition: all .7s;
}

header .container a > span {
  font-size: 12px;
}

header .btn-menu {
  cursor: pointer;
}

header .btn-menu > div {
  width: 20px;
  height: 3px;
  margin-top: 7px;
  background-color: white;
}

header .btn-menu > div:nth-child(2) {
  transform: translateX(-6px);
}

header .btn-menu-close {
  cursor: pointer;
  display: none;
  color: white;
}

header .btn-menu-close i {
  font-size: 24px;
}
/* 헤더 */

/* menu-open-effect */
#menu-effect-open,
#menu-effect-close {
  top: -1450px;
  right: -1350px;
  width: 3000px;
  height: 3000px;
  border-radius: 50%;
  background-color: #1d1e20;
}

#menu-effect-close {
  background-color: var(--bg-theme);
}
/* menu-open-effect */

/* menu-page */
#menu-page {
  width: 100%;
  min-height: 100vh;
  background-color: #1d1e20;
  top: 0;
  left: 0;
  z-index: -1;
}

#menu-page .container {
  width: 100%;
  min-height: 100vh;
}

#menu-page .container > div {
  width: 100%;
  justify-content: space-between;
}

#menu-page .container > div >  ul:nth-child(1) li {
  padding: 10px 0;
  cursor: pointer;
}

#menu-page .container > div >  ul:nth-child(1) li span:nth-child(1) {
  color: rgb(224,224,224);
  margin-right: 25px;
}

#menu-page .container > div >  ul:nth-child(1) li span:nth-child(2) {
  color: rgb(157,161,165);
  font-size: 35px;
}

#menu-page .container > div > ul:nth-child(2) {
  justify-content: space-around;
}

#menu-page .container > div > ul:nth-child(2) span {
  display: block;
  width: 100%;
  text-align: right;
}

#menu-page .container > div >  ul:nth-child(2) li span:nth-child(1) {
  font-size: 20px;
  color: white;
}

#menu-page .container > div >  ul:nth-child(2) li span:nth-child(2) {
  color: rgb(224,224,224);
  font-size: 12px;
  margin-top: 10px;
}
/* menu-page */

/* bg-line */
.bg-line {
  height: 100%;
}

.bg-line > div {
  width: 1px;
  height: 50%;
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  bottom: 0;
}

.bg-line > div:nth-child(1) {
  left: 10%; 
}

.bg-line > div:nth-child(2) {
  left: 30%; 
}

.bg-line > div:nth-child(3) {
  left: 50%; 
}

.bg-line > div:nth-child(4) {
  left: 70%; 
}

.bg-line > div:nth-child(5) {
  left: 90%; 
}
/* bg-line */

/* Side-Menu */
.btn-side-menu {
  top: 50%;
  right: 0;
  width: 48px;
  height: 48px;
  background-color: var(--bg-theme);
  transform: translateY(-50%);
  transition: all 1s;
  cursor: pointer;
  z-index: 50;
}

.side-menu {
  font-family: 'Saira', sans-serif;
  width: 240px;
  top: 50%;
  right: 0;
  padding: 60px 10px 60px 10px;
  background-color: #1d1e20;
  transform: translate(260px,-50%);
  transition: all 1s;
  z-index: 50;
}

.side-menu li {
  cursor: pointer;
}

.side-menu > div:nth-child(1) {
  margin-bottom: 10px;
}

.side-menu > div > span {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.side-menu > div > ul {
  width: 100%;
  display: inline-block;
}

.side-menu > div:nth-child(1) > ul > li {
  float: left;
  width: calc((100% - 104px) / 4);
  height: 28px;
  margin: 10px 13px 10px 13px;
}

.side-menu > div:nth-child(1) > ul > li:nth-child(1) {
  background-color: var(--bg-red);
}

.side-menu > div:nth-child(1) > ul > li:nth-child(2) {
  background-color: var(--bg-orange);
}

.side-menu > div > ul > li:nth-child(3) {
  background-color: var(--bg-brown);
}

.side-menu > div > ul > li:nth-child(4) {
  background-color: var(--bg-green);
}

.side-menu > div > ul > li:nth-child(5) {
  background-color: var(--bg-blue);
}

.side-menu > div > ul > li:nth-child(6) {
  background-color: var(--bg-purple);
}

.side-menu > div > ul > li:nth-child(7) {
  background-color: var(--bg-yellow);
}

.side-menu > div > ul > li:nth-child(8) {
  background-color: var(--bg-rose);
}

.side-menu > div:nth-child(2) > ul > li {
  float: left;
  width: calc((240px - 32px) / 2);
  height: 46px;
  margin:0 8px 0 8px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid var(--bg-theme);
  color: white;
  font-size: 12px;
  background-color: #333333;
  transition: all .7s;
}

.side-menu > div:nth-child(2) > ul > li:hover {
  background-color: var(--bg-theme);
}
/* Side-Menu */

/* Left-Info */
#left-info {
  top: 50%;
  left: -60px;
}

#left-info{
  transform: rotate(270deg);
}

#left-info .bg-line {
  width: 38px;
  height: 1px;
  margin:0 12px 0 12px;
  background-color: rgba(157, 161, 165, 0.2);
}

#left-info .sns a {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 12px;
}

#left-info .sns a:not(:nth-child(1)) {
  margin-left: 18px;
}
/* Left-Info */

/* section-1 */
#section-1 {
  background-image: url('images/headerfix.jpg');
  background-size: cover; 
  background-position: center;
}

#section-1 .container {
  min-height: 100vh;
}

#section-1 .container .txt-group {
  top: 260px;
  left: 0;
}

#section-1 .container .txt-group .txt-1 {
 font-size: 22px;
}

@media (max-width: 600px) {
  #section-1 .container .txt-group .txt-1  {
    font-size: 16px;
  }
}

#section-1 .container .txt-group .txt-1 div {
  display: inline-block;
  width: 14px;
  height: 2px;
  margin-bottom: 8px;
  margin-right: 4px;
  background-color: rgba(157, 161, 165, 0.2);
}

#section-1 .container .txt-group .txt-2::after {
  content:"";
  display: inline-block;
  width: 2px;
  height: 24px;
  margin-left: 4px;
  background-color: rgba(157, 161, 165, 0.8);
  animation: typingCursor 0.7s infinite;
}

@keyframes typingCursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#section-1 .container .txt-group .txt-2 {
  font-family: 'Saira', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #section-1 .container .txt-group .txt-2  {
    font-size: 38px;
  }
}

#section-1 .container .txt-group .txt-3 {
  margin-top: 20px;
  height: 60px;
}

#section-1 .container .txt-group .txt-3 > div {
  margin-right: 20px;
  color:white;
}

#section-1 .container .txt-group .txt-3 > div::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 4px;
  height: 60px;
  margin-right: 20px;
  background-color: rgba(157, 161, 165, 0.2);
}


#section-1 .container .txt-group .txt-3 > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 150px;
}


@media (max-width: 730px) {
  #section-1 .container .txt-group .txt-3 > div  {
    font-size: 14px;
  }

  #section-1 .container .txt-group .txt-3 > div > div {
    width: 130px;
  }
  
  #section-1 .container .txt-group .txt-3 > div {
    margin-bottom: 20px;
  }
}


@media (max-width: 600px) {
  #section-1 .container .txt-group .txt-3 > div  {
    font-size: 12px;
  }
  #section-1 .container .txt-group .txt-3 {
    flex-direction: column;
  }

  #section-1 .container .txt-group .txt-3 > div {
    margin-bottom: 20px;
  }
}

#section-1 .container .txt-group .txt-3 > div > div > div:nth-child(2) {
  text-align: right;
}

#section-1 .container .btn-mouse {
  width: 200px;
  height: 90px;
  bottom: 0;
  right: 25%;
  border-right: 1px dashed rgba(255,255,255, 0.3);
}

#section-1 .container .btn-mouse::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -4px;
}

#section-1 .container .btn-mouse .mouse {
  width: 25px;
  height: 38px;
  border: 3px solid white;
  border-radius: 12px;
  top: 10px;
  right: -16px;
  animation: mouse 3s ease infinite;
}

#section-1 .container .btn-mouse .mouse::after {
  content: "";
  display: block;
  width: 3px;
  height: 5px;
  position: absolute;
  top: 5px;
  right: 11px;
  background-color: white;
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-5px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
/* section-1 */

/* section-2 about */
#section-2 {
  min-height: 100vh;
}

#section-2 .container > div:nth-child(3) {
  justify-content: space-between;
}

#section-2 .container .txt-box {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  padding-top: 45px;
}

#section-2 .container .txt-box::before {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--bg-theme);
  transition: all 0.7s;
  border-bottom-left-radius: 100px;
  position: absolute;
  left: 125px;
  bottom: -5px;
}

#section-2 .container .txt-box::after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  background-color: var(--bg-theme);
  transition: all 0.7s;
  border-top-right-radius: 100px;
  position: absolute;
  left: 160px;
  bottom: -5px;
}

@media (max-width: 600px) {
  #section-2 .container .txt-box::before {
    left: 95px;
  }

  #section-2 .container .txt-box::after {
    left: 130px;
  }
}

@media (max-width: 600px) {
  #section-2 .container .txt-box {
    font-size: 35px;
  }
}

#section-2 .container .txt-main {
  margin-top: 60px;
}

#section-2 .container .txt-main > div:nth-child(1) {
  font-size: 24px;
}

#section-2 .container .txt-main > div:nth-child(2) {
  font-size: 34px;
}

#section-2 .container .txt-main > div:nth-child(2) > span {
  font-size: 60px;
  transition: all .5s;
}

@media (max-width: 600px) {
  #section-2 .container .txt-main > div:nth-child(1) {
    font-size: 16px;
  }

  #section-2 .container .txt-main > div:nth-child(2) {
    font-size: 26px;
  }

  #section-2 .container .txt-main > div:nth-child(2) > span {
    font-size: 40px;
    
  }
}

#section-2 .container .txt-info {
  width: 50%;
  margin-top: 60px;
  padding: 0 10px;
}

#section-2 .container .txt-info > ul > li {
  padding: 10px 0;
}

#section-2 .container .txt-info > ul > li > span:nth-child(1) {
  display: inline-block;
  width: 80px;
}

#section-2 .container .txt-info > ul > li > span {
  margin-right: 15px;
}

@media (max-width: 600px) {
  #section-2 .container .txt-info > ul > li {
    font-size: 12px;
  }
}

#section-2 .container .skill-info {
  width: 50%;
  margin-top: 50px;

}

#section-2 .container .skill-info ul li {
  padding: 10px 0;
}

#section-2 .container .skill-info ul li div.flex {
  justify-content: space-between;
}


#section-2 .container .skill-info ul li > div:nth-child(2) {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #9da1a5;
  margin-top: 2px;
}

#section-2 .container .skill-info ul li > div:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--bg-theme);
  top: 0;
  left: 0;
  transition: all 0.5s;
}

#section-2 .container .skill-info ul li:nth-child(1) > div:nth-child(2)::before {
  width: 80%;
}

#section-2 .container .skill-info ul li:nth-child(2) > div:nth-child(2)::before {
  width: 60%;
}

#section-2 .container .skill-info ul li:nth-child(3) > div:nth-child(2)::before {
  width: 80%;
}

@media (max-width: 770px) {
  #section-2 .container div.flex {
    flex-direction: column;
  }

  #section-2 .container .txt-info {
    width: 90%;
  }
}
/* section-2 about */